html {
  --base-spacing: $base-spacing;
  width: $width-max;
  max-width: $width-max;
  margin: auto;
}

body {
  background: $color-main-background;

  font-family: $font-main;
  font-weight: $font-weight;
  font-style: $font-styleTemp;
  font-size: $base-font-size;

  margin: $base-margin;

  line-height: $base-line-height;

  color: $base-font-color;
  width: $width-desktop;
  max-width: $width-max;
  min-width: $width-max;
}

.menu-main {
  font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: $font-accent;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  color: $brand-purple;
  font-size: 2.4rem;
  font-weight: 400;
}

p {
  font-size: $base-font-size;
  font-family: $font-main;
}

.journal-post {
  background-color: lightblue; // for testing
}

.journal-post h2 {
  font-family: $font-accent;
}

.white-font {
  color: white;
}

.brand-green {
  color: $brand-green;
}

.brand-purple {
  color: $brand-purple;
}

.brand-orange {
  color: $brand-orange;
}

.brand-yellow {
  color: $brand-yellow;
}

.brand-grey-light {
  color: $brand-grey-light;
}

.brand-grey-medium {
  color: $brand-grey-medium;
}

.novecento-web {
  font-family: $font-accent;
}

.merriweather {
  font-family: $font-main;
}

.merriweather-bold {
  font-family: Merriweather-Web-Bold;
}

.Novacento-bold {
  font-family: Novecento-Sans-Web-Bold;
}

p span {
  font-weight: bold;
}

////////////// WordPress Theme Requirement

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.sticky {
  background-color: white;
}

.gallery-caption {
  color: #d70807;
}

.bypostauthor {
  font-weight: 600;
}
