//
footer {
  // background-color: hotpink;
  display: grid;
  grid-template-columns: 25% 25% 50%;
  // grid-template-rows: 280px 75px;
  // grid-template-rows: 280px;
  font-size: 1rem;
  padding-top: 50px;
  line-height: $base-line-height;
}

.text-5 {
  @include flex-set();
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
}

.text-6 {
  @include flex-set();
  justify-content: center;
  align-items: flex-start;
}

.footer-logo {
  // background-color: red;
  margin-right: 25px;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  // align-content: flex-end;
  // align-self: flex-end;
  img {
    height: 45px;
    width: auto;
    margin-right: $base-spacing;
  }
}
.widget-title {
  display: none;
}

.footer-copyright {
  // background-color: green;
  margin-top: $base-spacing;
  margin-bottom: 25px;
  color: white;
  grid-column: span 3;
  @include flex-set();
}

.orange-brand {
  color: $brand-orange;
  font-family: 'Novecento-Sans-Web-Bold';
}
