//
footer {
  background-color: hotpink;
  height: 330px;
  margin-top: 50px;
  display: flex;
  align-content: center;
}

footer p {
  padding: 10px;
}

footer img {
  margin-left: 120px;
}

.contact-footer {
  width: 350px;
  margin: 1px;
}

.contact-business {
  width: 350px;
  margin: 1px;
}

.copyright {
  margin-top: 1px;
  margin-left: 10px;
}
