//
footer {
  background-color: hotpink;
  height: 330px;
  margin-top: 50px;
  display: flex;
  align-content: center;
}

footer p {
  padding: 10px;
}

footer img {
  margin-left: 120px;
}

.contact-footer,
.contact-business {
  margin: 50px;
}

.copyright {
  margin-top: 90px;
  margin-left: 50px;
}
