header {
  // background-color: green;
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 35px;
  width: 1120px;
  margin-top: 10px;
  margin-right: 10px;

  .tent {
    margin-left: 15px;
    height: 33px;
  }

  a {
    font-family: $font-accent;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    list-style: none;
    text-decoration: none;
  }

  .menu-main-menu-container {
    width: 400px;
    // padding-left: 600px;
  }

  .menu {
    // background-color: red;
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
  }

  .search-toggle {
    margin-top: 4px;
    margin-left: 20px;
    margin-right: 20px;
  }

  fieldset {
    display: flex;
    flex-direction: row-reverse;
  }

  nav {
    display: flex;
  }

  input {
    // height: 33px;
    margin-top: 1px;
    margin-left: 10px;
  }
}