body {
  width: 1120px;
  max-width: 1120px;
}

header {
  position: fixed;
}

.mast-head {
  width: 100%;
  display: flex;
}

.menu-main {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.menu-main-menu-container {
  width: 100%;
}

.menu {
  width: 30%;
  margin-left: 650px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  justify-content: space-between;

  a {
    color: white;
  }
}
