.search-form {
    // background-color: pink;
    // color: red;

    input {
        background-color: transparent;
        text-transform: uppercase;
        color: black;
        font-size: 1rem;
        text-decoration: none;
        border: none;

    }


}

.fas fa-search fa-1x {
    color: red !important;
}