.search-form {
    // background-color: pink;
    // color: red;

    input {
        background-color: transparent;
        text-transform: uppercase;
        color: white;
        font-size: 1rem;
        text-decoration: none;
        border: none;

    }

    i {
        // color: red;
    }
}

.fas fa-search fa-1x {
    color: red !important;
}