//
.sidebar {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  line-height: $base-line-height;
  padding: 0px 0px 0px 50px;
  grid-column: 2 / 3;
  grid-row: 1 / span 1;

  h2 {
    font-family: Novecento Sans Web, sans-serif;
    font-size: 1.3rem;
    color: $brand-purple;
    font-weight: 700;
    margin-bottom: 15px;
  }

  p {
    color: $brand-grey-text;
    margin-bottom: 15px;
    font-family: Merriweather Web, serif;
  }

  a {
    color: $brand-green;

    &:hover {
      color: $brand-purple;
    }
  }

  // .business-info {
  //   // background-color: red;
  // }
}
