//
.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  line-height: 40px;
  padding: 75px 0px 0px 50px;
  margin: 0 auto;

  .widget-title {
    background-color: red;
  }

  h2 {
    font-family: Novecento Sans Web, sans-serif;
    font-size: 1.5em;
    color: $brand-purple;
    font-weight: 700;
    margin-bottom: 15px;
  }

  p {
    color: $brand-grey-medium;
    margin-bottom: 15px;
    font-family: Merriweather Web, serif;
  }

  a {
    color: $brand-green;

    &:hover {
      color: $brand-purple;
    }
  }
}

// .contact-info {
//   background-color: green;
// }

// aside {
//   background-color: blue;
// }

// aside ul {
//   background-color: red;
//   margin-top: 5rem;
// }