//
.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  line-height: $base-line-height;
  padding: 75px 0px 0px 50px;
  margin: 0 auto;


  h2 {
    font-family: Novecento Sans Web, sans-serif;
    font-size: 1.3rem;
    color: $brand-purple;
    font-weight: 700;
    margin-bottom: 15px;
  }

  p {
    color: $brand-grey-text;
    margin-bottom: 15px;
    font-family: Merriweather Web, serif;
  }

  a {
    color: $brand-green;

    &:hover {
      color: $brand-purple;
    }
  }

  .business-info {
    // background-color: red;
  }

}