//
//
.social-icons-body {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 10rem;
    height: 7rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .social-button-f {
        background-color: black;
        width: 6rem;
        height: 2.5rem;
        padding: .75rem 1.5rem;
        border: 1px solid black;
        background-color: white;
    }

    .social-button-t {
        width: 6.5rem;
        height: 2.5rem;
        padding: .75rem 1.5rem;
        border: 1px solid black;
        background-color: white;
    }

    .social-button-p {
        width: 5.6rem;
        height: 2.5rem;
        padding: .75rem 1.5rem;
        border: 1px solid black;
        background-color: white;
    }
}