.container {

  font-family: $font-accent;
  line-height: $base-line-height;
  font-size: $base-font-size;

  .about-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 500px;
  }

  // The "About" text
  .has-text-align-center.has-large-font-size {
    // background-color: red;
    font-family: Novecento Sans Web, sans-serif;
    font-weight: bold;
    font-size: 3rem;
  }

  // The headings in the text: Our Story
  h2 {
    text-align: center;
    margin-top: 27px;
    margin-bottom: 24px;
    font-weight: bold;

  }

  // paragraphs in the text
  p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 24px;
  }

}