body {
  background: $color-main-background;
  color: $base-font-color;
  font-family: $font-accent;
  font-size: $base-font-size;
  line-height: $base-line-height;
  width: $width-desktop;
}

.banner {
  // width: 100%;
  // background: linear-gradient(
  //   180deg,
  //   rgba(0, 0, 0, 0.4) 0,
  //   rgba(0, 0, 0, 0.4),
  //   #969696
  // );
  //display: flex;

  img {
    width: 100%;
  }
}

.landing-title {
  font-family: $font-accent;
  font-weight: 400;
  color: $base-font-color;
  font-size: 2.4rem;
  text-align: center;
  // margin-bottom: 3.75rem;
  margin-top: 35px;
  margin-bottom: 35px;
}

.logo-main {
  position: absolute;
  // width: 50%;

  top: 185px;
  left: 1px;
  width: 275px;
  height: 275px;
}

////////////////////////////// Shop Stuff //////////////////////

.shop-page-product-type {
  display: grid;
  grid-template-columns: 22vw 22vw 22vw 22vw;
  grid-gap: 20px;
  justify-content: center;
  border: 1px solid red;
}

.front-page-product-sections {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
  margin-bottom: 20px;
  &:hover {
    border-color: $brand-orange;
  }
  border: 1px solid $brand-grey-medium;
  border-top-width: 5px;
  border-inline-color: $border-solid-color;

  .product-section-svg {
    width: 80px;
    height: 80px;
  }
}

.front-page-product-sections p {
  padding: 20px;
  text-align: center;
}

.front-page-product-sections-btn {
  width: 100px;
  font-family: $font-accent;
  color: white;
  background: $brand-green;
  margin-bottom: 20px;
  height: 40px;
  width: 120px;
  text-decoration: none;
}

///////////////////////// Inhabitent Journal /////////////////////////

.journal-excerpts {
  margin-left: 35px;
  margin-right: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  // border: 1px solid #808080;
  border: 1px solid red;
  font-family: Merriweather; //remove this

  img {
    height: 200px;
    width: auto;
  }

  h1 {
    color: $brand-green;
  }
}

.blog-thumb {
  // left: 50%;
  // max-height: 250px;
  // max-width: none;
  // position: absolute;
  // top: 50%;
  // transform: translate(-50%, -52%);
  // width: auto;
  color: green;
}

.read-entry-button {
  margin-left: 10px;
  margin-top: 20px;
  height: 40px;
  width: 120px;
  background: white;
  border: 1px solid #808080;
}

///////////////////  Latest Adventures ////////////////////
