body {
  background: $color-main-background;
  color: $font-base-color;
  font-family: $font-accent;
  font-size: $font-base;
  font-size: $base-font-size;
  line-height: $base-line-height;
  width: $width-desktop;
}

.banner {
  // width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 0,
    rgba(0, 0, 0, 0.4),
    #969696
  );
  display: flex;

  img {
    width: 100%;
  }
}

.logo-main {
  position: absolute;
  // width: 50%;

  top: 185px;
  left: 1px;
  width: 275px;
  height: 275px;
}

//@warn size-large wp-post-image {
// width: 100%;
//}
//
