.find-us {
  width: 1120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 80% 20%;
  color: green;

  // background-color: green;
  // font-family: Novecento Sans Web, sans-serif;
  // font-weight: bold;

  .findus-content-area {
    margin-top: 3.5rem;
    margin-left: 3rem;


    p {
      font-family: Merriweather Web, serif;
      text-transform: none;
      font-size: 1rem;
      font-weight: 400;
      line-height: $base-line-height;
    }

    h1 {
      font-size: 2.4rem;
    }

    h2 {
      font-size: 2.1rem;
    }

    input {
      border: none;
      // background-color: #f4f4f4;

      // height: 40px;
      // width: 415px;

    }

    label {
      color: #2f1339;
      display: block;
      font-family: Novecento Sans Web, sans-serif;
      font-weight: bold;
      font-size: 17.6px;
      font-size: 1.1rem;
      margin-bottom: .5rem;
      text-transform: uppercase;
    }
  }


  .wpcf7-email {
    // background-color: red;
    background-color: #f4f4f4;

    height: 40px;
    width: 414px;
  }

  .wpcf7-form-control {
    background-color: #f4f4f4;

    height: 40px;
    width: 414px;
  }

  .wpcf7-text {
    // background-color: blue;
    background-color: #f4f4f4;

    height: 40px;
    width: 414px;
  }

  .wpcf7-textarea {
    // email content area
    // background-color: orange;
    background-color: #f4f4f4;
    width: 760px;
    height: 300px;
    border: none;
  }

  .wpcf7-submit {
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;
    background-color: $brand-green;
    // background: red;
    width: 100px;
    border: none;
    border-radius: 0;
    color: white;
    cursor: pointer;
    font-family: Novecento Sans Web, sans-serif;
    font-size: 19.2px;
    font-size: 0.9rem;
    line-height: 1;
    padding: 0.75rem 1.5rem;
    text-decoration: none;


    &:hover {
      background-color: $brand-green;
      border: $border-solid-type;
      color: $brand-purple;
    }

  }

}