//
// styling for archive-product.php
//

.arc-shop-title {
  background-color: darkcyan;
  font-family: Novecento-Sans-Web-Bold;
  font-size: 2.4rem;
  height: 155px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.arc-place-holder {
  height: 75px;
  width: 100%;
}

.arc-product-categories {
  background-color: yellowgreen;
  font-family: $font-accent;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

// .product-type-link a {
//     font-family: $font-accent;
// }

.arc-shop-content-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 320px;
  gap: 1.5rem;
  margin-top: 40px;
  margin-bottom: 1.5;
  font-size: 1rem;
  line-height: 1.75;
}

.arc-shop-content-grid a {
  text-decoration: none;

  figure {
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 1px solid $brand-grey-light;
    width: 100%;
    height: 100%;

    img.attachment-large {
      width: 260px;
      height: 250px;
      object-fit: cover;
    }
  }

  figcaption {
    // background-color: red;
    font-family: Merriweather Web, serif;
    font-size: $base-font-size;
    color: $base-font-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border: 1px solid $brand-grey-light;
    border-top-width: 5px;
    border-inline-color: $border-solid-color;
  }

  .arc-product-type-link {
    font-family: $font-accent;
    color: $brand-green;
    text-decoration: none;
    font-size: 18px;
  }
}

//
// styling for taxonomy-product.php
//

.tax-single-item-section {
  height: 300px;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.tax-single-item-info h2 {
  font-family: $font-accent;
  padding-left: 40px;
  color: $brand-orange;
  font-size: 4rem;
}

.tax-single-item-info {
  text-decoration: none;
}

.tax-taxonomy-heading {
  background-color: green;
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: Novecento-Sans-Web-Bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tax-taxonomy-heading h1 {
  margin-bottom: 80px;
}

.tax-test-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 40px;
  margin-bottom: 1.5;
  font-size: 1rem;
  line-height: 1.75;
}

.tax-item-image img {
  filter: brightness(100%);
}

//
// styling for single-product.php
//

.single-product-page img {
  margin-bottom: 120px;
  padding: 40px;
  width: 650px;
  height: 500px;
  filter: brightness(100%);
}

.single-product-info-div {
  margin-top: 40px;
}

.single-product-info-div h2 {
  margin-bottom: 30px;
  font-family: Novecento-Sans-Web;
  color: #d99054;
}

.single-product-info-div p {
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  font-family: Merriweather;
}

.single-product-info-div .price-text {
  font-size: 32px;
  font-family: Novecento-Sans-Web;
}

.single-post-page div .post-image-title-main img {
  filter: brightness(100%);
}
