.single-journal {
  width: 1120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 75% 20%;

  .single-content-area {
    margin-top: 3rem;
  }

  a {
    color: $brand-green;

    &:visited {
      color: $brand-green;
    }
  }
}

.single-journal-container {
  margin-top: 10px;
  margin-bottom: 40px;
  text-transform: uppercase;
  height: 550px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-journal-title {
  margin-top: 2.25rem;
  background-color: #248a83;
  width: 60%;
  padding: 10px 0px 10px 50px;
  line-height: 1.2;

  a {
    color: white;

    &:visited {
      color: white;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 2em;
    font-family: $font-accent;
  }

  a {
    // font-size: 2.5em;
    color: white;
    text-decoration: none;
  }
}

.single-date-author {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  font-family: $font-main;

  p {
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    background-color: #248a83;
    color: white;
    padding: 2px 30px;
  }
}

.single-journal-content {
  display: grid;
  grid-column-start: 1;
  font-family: $font-main;
  font-size: 1rem;

  p+p {
    // This allows you to keep paragraphs flush with the top/bottom of your container while still having space between them.
    margin-top: 10px;
  }

  .social-icons-body {
    margin-left: 0;
  }
}

.single-category-tag {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;

  .single-category {
    font-family: $font-accent;
    margin-right: 10px;
  }

  .single-tag {
    // background-color: red;
    font-family: $font-accent;
  }
}

.sidebar-journal {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
}