//
// styling for taxonomy-adventure-type.php
//

.tax-adventure-heading {
  // background-color: green;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  font-family: $font-accent-bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 1rem;
    font-size: 2.4rem;
    font-family: $font-accent;
    font-weight: bold;
  }
}

.tax-adventure-place-holder {
  color: white;
  height: 4.5rem;
  width: 100%;
}

.tax-adventure-content-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 320px;
  gap: 1.5rem;
  margin-top: 40px;
  margin-bottom: 1.5;
  font-size: 1rem;
  line-height: 1.75;
}

.tax-adventure-content-grid a {
  text-decoration: none;

  figure {
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 1px solid $brand-grey-light;
    width: 100%;
    height: 100%;

    img.attachment-large {
      width: 260px;
      height: 250px;
      object-fit: cover;
    }
  }

  figcaption {
    // background-color: red;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border: 1px solid $brand-grey-light;
    border-top-width: 5px;
    border-inline-color: $border-solid-color;

    p {
      font-family: $font-main;
      font-size: $base-font-size;
      font-size: 0.7rem;
      color: $base-font-color;
    }

    .arc-adventure-type-link {
      font-family: $font-accent;
      color: $brand-green;
      text-decoration: none;
      font-size: 18px;
    }
  }
}