//
// styling for taxonomy-product-type.php
//

.tax-product-heading {
  background-color: green;
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: Novecento-Sans-Web-Bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tax-product-heading h1 {
  margin-bottom: 80px;
}

.tax-product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 40px;
  margin-bottom: 1.5;
  font-size: 1rem;
  line-height: 1.75;
}

.tax-product-single-item-section {
  height: 300px;
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.tax-product-item-image img {
  filter: brightness(100%);
}


.tax-product-single-item-info {
  text-decoration: none;
}

.tax-single-item-info h2 {
  font-family: $font-accent;
  padding-left: 40px;
  color: $brand-orange;
  font-size: 4rem;
}