//
// Set SASS Variables
//

// $template-folder: "echo get_stylesheet_directory_uri(); ."
$color-main-background: #ffffff;

$font-main: 'Merriweather';
$font-accent: 'Novecento-Sans-Web';
// $font-accent: 'Novecento-Sans-Web, sans-serif';
$font-weight: normal;
$font-styleTemp: italics;

$base-font-size: 16px;
$base-font-color: #404040;
$base-margin: 0 auto;
$base-line-height: 1.75;
$base-spacing: 1.5rem;

$width-desktop: 1120px;
$width-tablet: 600px;
$width-max: 1120px;

$border-solid-width: 1px;
$border-solid-type: solid;
$border-solid-color: #e1e1e1;

$border-dashed-width: 1px;
$border-dashed-type: dashed;
$border-dashed-color: #c8c8c8;

$brand-green: #248a83;
$brand-purple: #2f1339;
$brand-orange: #d99054;
$brand-yellow: #f0e4d1;
$brand-grey-light: #a1a1a1;
$brand-grey-medium: #808080;
